body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.item {
    height: 300px;
    width: 300px;
    float: left;
   margin-left:20px;
    text-align: center;
    font-family: Arial;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 1px 5px 2px #cac1c1;
}
.item img
{
    height:180px;
    width:170px;
    border-radius:10px;
    
    
}
.item h5
{
    color:red;
}
    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
